/* ESTOS SPAN TIENEN QUE LLEVAR EL ESTILO DE LOS INPUT */

.dbh-query-editor .parentesis span {
	font-size: 14px;font-weight:bold;padding:0 2px;
}

.init-cover .init-cover-logo {
	max-width: 400px;
	filter: grayscale(100%) hue-rotate(90deg);
}

#divacceso .app-logo img {
	width:100%;
	filter: grayscale(100%);
}
.log-date {
	color: blue;
	padding-right: 5px;
}
.log-title.setTablaAuxiliar {
	color: brown;
	padding-right: 5px;
}
.log-title.Load.Mode {
	color: green;
	padding-right: 5px;
}
body, div, table, td, form {
	//font-size:12px;
}

.divinlineform .inputText, .divinlineform .inputText-nowrite, .divinlineform label, .divinlineform button {
	//font-size:11px;
}
.inline-search-table {
	width: 100%;
}
.inline-search-table thead {
	position: fixed;
	color: #32AB9F;
	background: #eee;
	border: 0 solid #ddd;
	border-width: 1px 0 0 1px;
	margin-left:-1px;
}
.inline-search-table thead td {
	overflow:hidden;
	float:left;
}
.inline-search-table tr.hovered,.inline-search-table tr.hovered td{
	background:#eee;
}
.inline-search-table td{
	padding: 5px;
	border: 1px solid #eee;
	border-width: 0 1px 0 0;
}
.inlinesearch-tempfield.no-filter {
	background:white;
}
.divinlineform .lineamodelo select.inputTextTransparent, .divinlineform .lineamodelo select.inputTextTransparent-nowrite {
	//appearance : menulist;
	-webkit-appearance : menulist;
}
span.ui-selectmenu-button,span.ui-selectmenu-button:hover,span.ui-selectmenu-button.ui-selectmenu-button-open,span.ui-selectmenu-button.ui-selectmenu-button-closed {
    //background: none;
    height: 24px;
    max-width: none;
    box-sizing: border-box;
    padding: 3px 5px 3px 14px;
    margin: 6px 3px 0px -16px;
    border-radius: 0 12px 0 0;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px 1px 1px 0;
    color: #666;
    outline: none;
    float: left;
    transition: all 0.3s;
}
.inline-group-container {
    /* content: "juan"; */
    width: calc(100% + 20px);
    text-align: center;
    display: block;
    /* position: absolute; */
    padding: 5px;
    margin-top: 0;
    margin-left: -10px;
    /* margin-bottom: 10px; */
    background: #eee;
    box-sizing: border-box;
}
.divlistado.grouped .divCampoForm.inline-group {
	display:none;
}
.divlistado.grouped .lineamodelo {
	padding-top: 0px;
	padding-bottom: 0px;
	//margin-bottom: 0;
}
.divinlineform .lineamodelo.inline-group-first {
	padding-top:15px;
}
.divlistado.grouped label {
	display: none;
}